<%- include('include/_header') %>
<style>
  body {
    background-image: url('https://wallpapers.com/images/featured/japan-landscape-7oivwrn8hrzce9uv.webp');
    background-size: cover;
    background-position: center;
    height: 100%;
    min-height: 100vh;
  }

  .flex-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }

  .flex-container>div {
    margin: 10px;
    padding: 20px;
    font-size: 20px;
    background-color: #f2f2f2;
    border-radius: 5px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  }

  .card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
  }

  .img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
  }

  .glyphicon-heart-empty {
    cursor: pointer;
    color: #ccc;
  }

  .glyphicon-heart-empty:hover {
    color: red;
  }
</style>
<%- include('include/_nav') %>

<div>

</div>
<script>
  // Example using the fetch API
  fetch('/user/alluser')
    .then(response => {
      if (!response.ok) {
        throw new Error('Network response was not ok');
      }
      return response.json();
    })
    .catch(error => {
      // Handle the error and show an alert to the user
      if (error instanceof Error) {
        // Check if it's a network error or a response error (e.g., 500)
        if (error.message === 'Network response was not ok') {
          alert('An internal server error occurred. Please restart the application.');
        }
      }
    });
</script>

<!-- include footer -->
<%- include('include/_footer')%>
<!-- include footer -->