<%- include('include/_header') %>

<%- include('include/_nav') %>

<div class="container indiv-booking-div">
    <div class="left-section">

        <div class="hotel-detail-div">

        </div>

        <div class="dates-detail-div">

        </div>

        <div class="costs-detail-div">
            <div class="price-detail-div">

            </div>
            <div class="cancel-div">

            </div>
        </div>
    </div>
    <div class="right-section">
        <div class="booking-info-div">
            <div class="booking-title-div">
                <h2>
                    Enter Your Details
                </h2>

            </div>
            <div class="book-notif-section">
                <div class="book-notif">
                    <div class="notif-txt-div">
                        <p class="book-notif-txt">
                        
                        </p>
                    </div>
                    
                </div>
            </div>

            <div class="booking-form-div">
                <form class="booking-form">
                    <div class="book-name-div">
                        <div class="book-input-div">
                            <input type="text" class="book-input" placeholder="Enter your first name">
                        </div>
                        <div class="book-input-div">
                            <input type="text" class="book-input" placeholder="Enter your last name">
                        </div>
                    </div>
                    
                    <div class="book-input-div">
                        <input type="email" class="book-input" placeholder="Enter your email">
                    </div>
                    <div class="book-input-div">
                        <input type="text" class="book-input" placeholder="Enter your phone number">>
                    </div>
                    
                    <div class="book-input-div">
                        <select class="country-select">
                            <option class="country-option">
                                Singapore
                            </option>
                        </select>
                        <input type="text" class="book-input" placeholder="Find a country">
                        
                    </div>
                    
                    
                </form>
            </div>
        </div>
        <div class="room-detail-div">
            <div class="room-detail">
                
            </div>
        </div>
    </div>

</div>

<!-- include footer -->
<%- include('include/_footer')%>
<!-- include footer -->
