<%- include('include/_header') %>

<%- include('include/_nav') %>

<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          <h3>Login</h3>
        </div>
        <div class="card-body">
          <form method="post" action="/login">
            <div class="mb-3">
              <label for="email" class="form-label">Email</label>
              <input type="text" class="form-control" id="email" name="email" required>
            </div>
            <div class="mb-3">
              <label for="password" class="form-label">Password</label>
              <input type="password" class="form-control" id="password" name="password" required>
            </div>
            <button type="submit" class="btn btn-primary">Login</button>
            <p class="mt-3">Not a member? <a href="/register">Sign up</a></p>
            <div id="error-message" class="alert alert-danger" style="display:none;"></div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  var error = "<%= typeof error !== 'undefined' ? error : '' %>";
  if (error) {
    var errorMessage = error;
    document.getElementById("error-message").innerHTML = errorMessage;
    document.getElementById("error-message").style.display = "block";
  }
  // Example using the fetch API
  fetch('/user/alluser')
    .then(response => {
      if (!response.ok) {
        throw new Error('Network response was not ok');
      }
      return response.json();
    })
    .catch(error => {
      // Handle the error and show an alert to the user
      if (error instanceof Error) {
        // Check if it's a network error or a response error (e.g., 500)
        if (error.message === 'Network response was not ok') {
          alert('An internal server error occurred. Please restart the application.');
        }
      }
    });
</script>

<!-- include footer -->
<%- include('include/_footer')%>
<!-- include footer -->