<%- include('include/_header') %>
  <style>
    .flex-container{
      display: flex;
    }
    .flex-container > div{
      margin: 10px;
      padding: 20px;
      font-size: 30px;
    }
  </style>
<%- include('include/_nav') %>
<body>
    <div id="restaurants-list">
        <h3>Restaurants</h3>
        <div class="card">
            <div class="card-body">
              <div class="flex-container">
                <div class="img">imgg
                  <a href="#">
                    <span class="glyphicon glyphicon-heart-empty"></span> 
                  </a>
                </div>
                <div>
                  <div>Review</div>
                  <div>Name</div>
                  <div>Price</div>
                </div>
              </div>
                
            </div>
        </div>
        <div class="card">
          <div class="card-body">
            <div class="flex-container">
              <div class="img">imgg
                <a href="#">
                  <span class="glyphicon glyphicon-heart-empty"></span>
                </a>
              </div>
              <div>
                <div>Review</div>
                <div>Name</div>
                <div>Price</div>
              </div>
            </div>
              
          </div>
      </div>
    </div>
</body>
</html>
