<!-- include header -->
<%- include('include/_header') %>
<!-- /include header -->

<h1>Data from the server:</h1>
<ul>
  <% data.forEach(item=> { %>
  <li>
    <%= item.firstName %> <%= item.lastName %>
  </li>
  <!-- Replace 'propertyName' with the actual property you want to display -->
  <% }); %>
</ul>


<!-- include footer -->
<%- include('include/_footer')%>
<!-- include footer -->