<style>
  
  main {
      flex: 1;
    }
    footer {
      padding: 15px;
      color: #fff;
      text-align: center;
      color: #fff;
      background-color: rgb(16, 15, 15); /* Set the background color with transparency */
      backdrop-filter: blur(px); /* Apply a blur effect to the background */
    }   
</style>
<br><br>
<footer>
    <p>&copy; 2023 Your Company. All rights reserved.</p>
</footer>
</html>